<% if @fans && @fans.any? %>
  <h3><%= pluralize(@fans.size, "fan") %></h3>
  <ol id="users">
    <% @fans.each do |fan| %>
      <li>
        <span><%#= profile_image_for(fan, size: 35) %></span>
        <span class="user"><%= link_to fan.name, fan %></span>
      </li>
    <% end %>
  </ol>
<% end %>

<% if @genres && @genres.any? %>
  <h3>Genres</h3>
  <ul id="genres">
    <% @genres.each do |genre| %>
      <li><%= link_to genre.name, genre %></li>
    <% end %>
  </ul>
<% end %>
