<header id="content-header">
  <h1><%= pluralize(@users.count, "User") %></h1>
</header>

<ul id="users">
  <% @users.all.each do |user| %>
    <li>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
